{% extends "booking/home.html" %}
{% block content %}
<h2>{% if form.instance.pk %}Редактировать счёт{% else %}Создать счёт{% endif %}</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    <div class="mb-3">
      <label>Сумма</label>
      <input type="text" class="form-control" value="{{ form.instance.total }}" readonly>
    </div>

    <button type="submit" class="btn btn-primary">Сохранить</button>
    <a href="{% url 'bill_list' %}" class="btn btn-secondary">Отмена</a>
</form>
{% endblock %}