{% extends "booking/home.html" %}
{% block content %}
<h2>Список клиентов</h2>

<!-- Форма поиска по имени -->
<form method="get" class="mb-3">
  <input type="text" name="search" class="form-control" placeholder="Поиск по имени" value="{{ search_query }}">
</form>
<a href="{% url 'customer_create' %}" class="btn btn-success mb-3">Добавить клиента</a>
<table class="table">
    <thead>
        <tr>
            <th>Имя</th>
            <th>Телефон</th>
            <th>Электронная почта</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.email|default:"Нет" }}</td>
            <td>
                <a href="{% url 'customer_update' customer.pk %}" class="btn btn-primary btn-sm">Изменить</a>
                <a href="{% url 'customer_delete' customer.pk %}" class="btn btn-danger btn-sm">Удалить</a>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Нет клиентов</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}